@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
  <h1>Welcome to Curacracy</h1>
  <p>Curacracy is a new kind of art site designed to connect content creators with patrons and services around the world.</p>
  <p><a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="About" role="button">Learn more</a></p>
</div>

<h1>Submissions of the Now</h1>
<p>Coming soon!</p>

<h1>Up and Coming</h1>
<p>Coming soon!</p>

<h1>Sponsored Submissions</h1>
<p>Coming soon!</p>